/* Product category page styles */
.productCategoryContainer {
  min-height: 100vh;
}
.categoryBox {
  width: 99.5%;
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 1em;
}

@media screen and (max-width:800px){
  .categoryBox{
    display: flex;
    flex-wrap: wrap;
  }
}

