/* Signin styles */
.signinContainer {
  
}
.modal {
  margin-top: 3em;
}
.formTitle{
  color: #2874f0;
}
.imageDiv {

}
.signinSideImage{
  width: 200px;
}
.signinBody {
  display: flex;
}
.formDiv{
    width: 100%;
}
.signinForm{
}
.signinBtn {
  border: none;
  color: #2874f0;
  font-size: 14px;
  background-color: transparent;
}
