/* Search products styles */
.searchProductsContainer {
  width: fit-content;
  min-height: 100vh;
  margin: auto;
}
.emptyWishlist {
  width: 100%;
  min-height: 50vh;
  margin: 1em;
  padding: 3em;
  text-align: center;
  line-height: 1.4;
  color: #212121;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.emptyWishlist h4 {
  margin-top: 1em;
}
.emptyWishlist p {
  font-size: small;
}
