/* Edit Address styles */
.madal {
    width: 100%;
  }
  .formDiv {
    width: 100%;
  }
  .addressForm div {
    display: flex;
  }
  .addressForm div input{
      width: 100%;
      margin: 0.5em;
  }
  